# Игнорируем объектные файлы и исполняемые файлы
*.o
*.out
*.exe
*.a
*.so
*.dll

# Игнорируем временные и резервные файлы
*~
*.bak
*.swp
*.swo

# Игнорируем специфичные файлы, которые не нужно коммитить
# main.cpp

.gitignore
.vscode
venv/

# Игнорируем бинарные файлы и результаты компиляции
a.out
*.bin
README.md

# Игнорируем каталоги сборки (если есть)
build/
output/


# Игнорируем системные файлы (например, macOS)
.DS_Store

# Игнорируем файлы проекта IDE (если используются)
.vscode/
.idea/
*.project
*.settings/

# Игнорируем автоматически сгенерированные файлы
*.d
*.lst
*.log